<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fisio_movil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fisio_Movil">
        <activity
            android:name=".TratatiendoDatos"
            android:exported="false" />
        <activity
            android:name=".DatosTerapeuta"
            android:exported="false" />
        <activity
            android:name=".NoticiasTerapeuta"
            android:exported="false" />
        <activity
            android:name=".HistorialTerapeuta"
            android:exported="false" />
        <activity
            android:name=".ServiciosProgramados"
            android:exported="false" />
        <activity
            android:name=".ServiciosDisponibles"
            android:exported="false" />
        <activity
            android:name=".DatosPaciente"
            android:exported="false" />
        <activity
            android:name=".NoticiasPaciente"
            android:exported="false" />
        <activity
            android:name=".HistorialPaciente"
            android:exported="false" />
        <activity
            android:name=".SolicitarServicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuTerapeuta"
            android:exported="false" />
        <activity
            android:name=".MenuPaciente"
            android:exported="false" />
        <activity
            android:name=".RegistroTerapeuta"
            android:exported="false" />
        <activity
            android:name=".RegistroPaciente"
            android:exported="false" />
        <activity
            android:name=".TipoRegistro"
            android:exported="false" />
        <activity
            android:name=".IngresoTerapeuta"
            android:exported="false" />
        <activity
            android:name=".IngresoPaciente"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>